@{
    Layout = null;
}
<!DOCTYPE html>

<html>
    <head>
        <title>Fracto - Sprint 1</title>
    </head>

    <body>
        <h1><center>Fracto: Doctor Appointment System</center></h1>
        <p>This is the Sprint 1 Static View deliverable.</p>

        <div class="card">
            <h3>User Authentication Placeholder</h3>
            <p>Add the login thing here later, ig</p>
        </div>

        <div class="card">
            <h3>Doctor Search Placeholder</h3>
            <p>Placeholder 1</p>
        </div>

        <div class="card">
            <h3>Appointment Booking Placeholder</h3>
            <p>Placeolder 2</p>
        </div>
    </body>
</html>
